.brutalistButtonWraper {
  transition: transform 200ms ease-in-out;
  transform: translated3d(0, 0, 0);
  transform-style: preserve3d;
}

.brutalistButtonWraper:hover {
  transform: translate3d(-0.5rem, -0.5rem, 0);
}

.brutalistButton:before,
.brutalistButton:after {
  transform: translated3d(0, 0, 0);
  transform-style: preserve3d;
  transition: transform 600ms ease-in-out;
  top: 0;
  left: 0;
}

.brutalistButton {
  background: #222;
  color: white;
  border-radius: 4px;
  padding: 20px 80px;
  position: relative;
  cursor: pointer;
  font-weight: bold;
}

.brutalistButton:hover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffd433;
  /*   top: 16px;
  left:16px; */
  z-index: -1;
  border-radius: inherit;
  border: 1px solid black;
  transform: translate3d(1rem, 1rem, 0);
}

.brutalistButton:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ff90e8;
  /*   top: 8px;
  left:8px; */
  z-index: -1;
  border-radius: inherit;
  border: 1px solid black;
  transform: translate3d(0.5rem, 0.5rem, 0);
}
